<header class="topbar">
    <div class="mr-2">
        <a
            href="https://github.com/shembel/url-shortener"
            target="_blank"
            rel="noopener noreferrer"
            class="ml-4 text-2x"
            [tuiHint]="'Source code'"
        >
            <img src="assets/logos/github-mark.png" alt="Github cat image">
        </a>
    </div>

    <div *ngIf="authUser$ | async as user; else login">
        <tui-hosted-dropdown tuiDropdownAlign="left" [content]="userDropdown">
            <tui-avatar
                [text]="user.firstName + ' ' + user.lastName"
                class="cursor-pointer"
            ></tui-avatar>
        </tui-hosted-dropdown>
        <ng-template #userDropdown>
            <tui-data-list role="menu">
                <tui-opt-group [label]="user.firstName + ' ' + user.lastName">
                    <button tuiOption (click)="logout()">
              <span>
                <tui-svg class="mr-2" src="tuiIconLogoutLarge"></tui-svg>
                Logout
              </span>
                    </button>
                </tui-opt-group>
            </tui-data-list>
        </ng-template>
    </div>

    <div>
        <tui-hosted-dropdown tuiDropdownAlign="left" [content]="userDropdown">
            <!--           eslint-disable-next-line -->
            <button class="header-btn menu-btn" tuiButton size="m" icon="tuiIconMenuLarge"></button>
        </tui-hosted-dropdown>
        <ng-template #userDropdown>
            <tui-data-list role="menu">
                <tui-opt-group>
                    <button tuiOption routerLink="/">
                        <span>
                          <tui-svg class="mr-2" src="tuiIconHome"></tui-svg>
                          Home
                        </span>
                    </button>

                    <button tuiOption routerLink="/dashboard">
                        <span>
                          <tui-svg class="mr-2" src="tuiIconBarChart2"></tui-svg>
                          Dashboard
                        </span>
                    </button>
                    <button tuiOption (click)="toggleMessages()">
                        <span>
                          <tui-svg class="mr-2" src="tuiIconAlertCircle"></tui-svg>
                            Debug
                        </span>
                    </button>
                </tui-opt-group>
            </tui-data-list>
        </ng-template>
    </div>

    <ng-template #login>
        <a class="header-btn order-100" tuiButton size="m" routerLink="/login" icon="tuiIconUser">
            Login
        </a>
    </ng-template>
</header>
