// Modifications for TaigaUI Theme
//:root {
:root {
    // Primary
    //primary: '#1658C0',
    //secondary: '#E72B37',
    //accent: '#3D164E',

    //[tuiTheme='night'] {
    //    --tui-primary: #609dee;
        --tui-primary: #444444;
        //--tui-primary-hover: #EC6821;
        --tui-primary-hover: #EC7A3C;
        //--tui-primary-active: #447cff;
        --tui-primary-active: #EC6821;

        --tui-secondary: #E72B37;
        --tui-secondary-hover: #FF3D4E;
        --tui-secondary-active: #FF3D4E;

        --tui-accent: #3D164E;
        --tui-accent-hover: #4E1F6B;
        --tui-accent-active: #4E1F6B;

        --tui-link: #2760c4;
        --tui-link-hover: #4e81ec;
        --tui-base-01: #333333 !important;
        --tui-action-background: #333333 !important;
        --tui-action-color: #ffffff !important;
    //}

    //--tui-primary: #5b0fff;
    //--tui-primary-hover: #8137ff;
    //--tui-primary-active: #8137ff;
    //
    //// Secondary
    //--tui-secondary: #e8e1f7;
    //--tui-secondary-hover: #e8e1f7;
    //--tui-secondary-active: #e8e1f7;
    //
    //// Accent
    //--tui-accent: #0dbfa9;
    //--tui-accent-hover: #10d4bd;
    //--tui-accent-active: #10d4bd;
    //
    //// Link
    //--tui-link: #5b0fff;
    //--tui-link-hover: #8137ff;
}
