.header-container {
    max-height: 70px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

// Fancy bg and blobs
.bg-animation {
    width: 100vw;
    height: 100vh;
    position: absolute;

    .blob-container {
        position: relative;
        width: 100%;
        max-width: 32rem;

        .blob {
            position: absolute;
            width: 18rem;
            height: 18rem;
            border-radius: 50%;
            mix-blend-mode: multiply;
            filter: blur(1.5rem);
            opacity: 0.7;
            animation: blob 20s infinite;

            &.blob-purple {
                width: 13rem;
                height: 13rem;
                top: -2rem;
                left: -4rem;
                background-color: #9f7aea;
            }

            &.blob-blue {
                width: 23rem;
                height: 23rem;
                top: -4rem;
                right: -4rem;
                background-color: #90aed6;
                animation-delay: 2s;
            }

            &.blob-pink {
                width: 16rem;
                height: 16rem;
                bottom: -5rem;
                left: 20%;
                background-color: #f472b6;
                animation-delay: 4s;
            }
        }
    }
}

@keyframes blob {
    0% {
        transform: translate(0px, 0px) scale(1);
    }
    33% {
        transform: translate(30px, -50px) scale(1.1);
    }
    66% {
        transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
        transform: translate(0px, 0px) scale(1);
    }
}

.wrapper {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(33deg, rgba(216, 212, 209, 1), rgba(148, 0, 0, 0.21)), url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2.17' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");

    .main-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        main {
            position: relative;
            z-index: 0;
            margin-top: 4rem;
            flex: 1 0 auto;
            overflow: hidden;
            padding-left: 2rem !important;
            padding-right: 2rem !important;
            padding-bottom: 1rem !important;
        }
    }
}
