<tui-theme-night></tui-theme-night>

<tui-root class="wrapper">
    <app-header></app-header>

    <div class="bg-animation flex justify-center items-center">
        <div class="blob-container">
            <div class="blob blob-purple"></div>
            <div class="blob blob-blue"></div>
            <div class="blob blob-pink"></div>
        </div>
    </div>

    <div class="main-content h-screen">
        <main class="h-full w-full">
            <router-outlet></router-outlet>
            <app-messages></app-messages>
        </main>
    </div>
</tui-root>
