<tui-notification
    *ngIf="isInvalidUrl$"
    status="error"
    (close)="onCloseNotification()"
    class="w-full max-w-[30rem] fixed top-20 left-1/2 transform -translate-x-1/2"
>
    The provided URL is malformed. Please enter correct URL (e.g. https://example.com).
</tui-notification>
<tui-notification
    *ngIf="isInvalidUUID$"
    status="error"
    (close)="onCloseNotification()"
    class="w-full max-w-[30rem] fixed top-20 left-1/2 transform -translate-x-1/2"
>
    The provided UUID didn't match any records in the database.
</tui-notification>


<div class="items-center flex flex-col gap-2">
    <form
        class="url-form flex items-center gap-2 w-full fot-content max-w-[50rem]"
        [formGroup]="urlShortenerForm"
        (ngSubmit)="urlShortenerForm.valid && submit(selected)"
    >
            <div class="min-w-[20rem] w-full shortener-input tui-form__row">
                <tui-input
                    #inputField
                    formControlName="url"
                    (keyup.enter)="onClickAction(selected, $event, inputField.value)"
                >
                   {{ inputText[selected] }}: <span class="tui-required"></span>
                </tui-input>
            </div>
        <div class="h-full w-full flex flex-col gap-2">
            <tui-hosted-dropdown
                tuiDropdownLimitWidth="fixed"
                [content]="dropdown"
                [(open)]="open"
            >
                <tui-loader
                    [inheritColor]="true"
                    [overlay]="true"
                    [showLoader]="(isLoading$ | async) === true"
                >
                    <div
                        class="group action-btns"
                        tuiGroup>
                            <button
                                appDebounceClick
                                [debounceTime]="500"
                                (debounceClick)="onClickAction(selected, $event, inputField.value)"
                                size="l"
                                tuiButton
                                type="button"
                                class="options-button tui-group__auto-width-item rounded-r-none pr-[2px]"

                            >
                                {{ selected }}
                            </button>
                        <button
                            size="l"
                            title="Menu"
                            tuiHostedDropdownHost
                            tuiIconButton
                            type="button"
                            class="tui-group__auto-width-item rounded-l-none"
                            [iconRight]="icon"
                        ></button>
                        <ng-template #icon>
                            <tui-svg
                                src="tuiIconChevronDown"
                                class="icon"
                                [class.icon_rotated]="open"
                            ></tui-svg>
                        </ng-template>
                    </div>
                </tui-loader>
            </tui-hosted-dropdown>
            <ng-template
                #dropdown
            >
                <tui-data-list>
                        <button
                            *ngFor="let action of actions"
                            tuiOption
                            (click)="onClickMenu(action)"
                        >
                            {{ action }}
                            <tui-tooltip
                                *ngIf="action === 'Get all' && (isLoggedIn$ | async) === false"
                                direction="bottom"
                                [content]="logintooltip"
                            ></tui-tooltip>
                        </button>
<!--                    ToDo: render all urls -->
                        <ng-template #logintooltip>Please log in to use this functionality. *also click on Debug in the menu to get view collected urls.</ng-template>
                </tui-data-list>
            </ng-template>
        </div>
    </form>
    <div
        [ngStyle]="{ 'visibility': shortURL ? 'visible' : 'hidden' }"
        class="font-large copy-link-container justify-around">
        <div class="url-text flex items-start gap-2">
            <p class="tui-island__paragraph">
                {{ shortURL }}
            </p>
        </div>
        <div class="link-actions">
            <button
                size="l"
                tuiButton
                type="button"
                [cdkCopyToClipboard]="shortURL || ''"
                class="copy-button tui-group__auto-width-item"
                (click)="onClickCopy('Link copied!')"
            >
                Copy
            </button>
            <button
                size="l"
                tuiButton
                type="button"
                class="copy-button tui-group__auto-width-item"
                (click)="openUrl(shortURL || '')"
            >
                Go
            </button>
        </div>
    </div>
</div>

