<div class="items-center flex gap-2">
    <form class="flex items-center gap-2 w-full fot-content max-w-[50rem] kekek" [formGroup]="urlShortenerForm" (ngSubmit)="urlShortenerForm.valid && submit()">
            <div class="min-w-[20rem] w-full shortener-input tui-form__row">
                <tui-input
                    #inputField
                    formControlName="url"
                    [appInvalidUrlValidator]="url"
                >
                   URL to shorten or UUID to get: <span class="tui-required"></span>
                </tui-input>
            </div>

    <!--    <tui-notification *ngIf="showLoginError$ | async" status="error" class="aa&#45;&#45;mt-4">-->
    <!--        Ooops! The login details are incorrect.-->
    <!--    </tui-notification>-->

    <!--    <tui-notification *ngIf="isInvalidUrl$ | async" status="error">-->
    <!--    <tui-notification *ngIf="isInvalidUrl$" status="error">-->
    <!--        The provided URL is malformed. Please enter correct URL (e.g. https://example.com).-->
    <!--    </tui-notification>-->


        <div class="h-full w-full flex flex-col gap-2">
            <button
                tuiButton
                icon="tuiIconTarget"
                class="tui-form__button"
                size="m"
                type="button"
                (click)="getUrlById(inputField.value)"
            >Get by UUID</button>

            <button
                tuiButton
                icon="tuiIconList"
                class="tui-form__button"
                size="m"
                type="button"
                (click)="getAllUrls()"
            >Get all urls</button>
            <!--            [showLoader]="(isLoading$ | async)!"-->
            <button
                tuiButton
                icon="tuiIconWindLarge"
                class="order-0 tui-form__button"
                size="m"
                type="submit"
            >Generate</button>
        </div>
<!--        <div class="h-full flex items-center tui-form__buttons">-->
<!--      -->
<!--        </div>-->
    </form>
</div>

